body{
text-align: center;}
#map { height: 450px; width: 1170px; }
.habitation { text-align: center;}
.habitation h1 { color: green; margin-bottom: 10px; }
.habitation h2 { margin-bottom: 20px;}
.habitation h4 { margin-bottom: 20px; color: green; }
.trait { width: 80px; background: green; height: 4px; border-radius: 7px; margin : auto;
	margin-top: 80px; }

.logement {display: none; text-align: center;}
button { width:  180px; border: none;border-radius: 8px; padding-top: 14px;
 cursor: pointer;}
.nav-item { margin-left: 30px; }
.btn-danger a { color: white; text-decoration: none; }
.btn-success a { color: white; text-decoration: none; }
li p:hover { cursor: pointer; }
.btn-primary a { color: white; text-decoration: none; }
.jack { height: 270px; margin-left: 4px; }
.leaflet-popup-content-wrapper, .leaflet-popup-tip {background: #e8eefc;width: 260px; text-align: justify;} 
.leaflet-popup-content-wrapper img { height: 110px;width: 220px; border-radius: 6px; box-shadow: 0px 2px 3px #dee5e8; }
.leaflet-popup-content-wrapper button { width: 150px; height: 30px; border:none;border-radius: 6px; background: #58ad4f; color: white; margin-left: 34px;
font-size: 15px; text-align: center; margin-bottom:  5px; margin-top: 10px; padding-bottom: 35px;}
